:root { 
  --anakiwa: #8cfbf5e0;
  --black-white: #fffef8;
  --bunker: #101316;
  --bunker-2: #111416;
  --bunker-3: #101316df;
  --granite-gray: #686868df;
  --hint-of-red: #fbfaf8;
  --log-cabin: #212121;
  --white: #ffffff;
  --woodsmoke: #11101053;
  --woodsmoke-2: #1110104b;
  --woodsmoke-3: #111010;
 
  --font-size-16px: 16px;
  --font-size-l: 13px;
  --font-size-m: 12px;
  --font-size-s: 11px;
  --font-size-xl: 18px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 32.5px;
  --font-size-xxxxl: 60px;
 
  --font-family-helvetica: "Helvetica", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-sfprotext-medium: "SFProText-Medium", Helvetica;
  --font-family-sfprotext-semibold: "SFProText-Semibold", Helvetica;
}
.button-2font-family-1leftblack-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-semi-bold-black-white-32-5px {
  color: var(--black-white);
  font-family: var(--font-family-sfprotext-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.sfprotext-medium-black-white-12px {
  color: var(--black-white);
  font-family: var(--font-family-sfprotext-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.helvetica-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-helvetica);
  font-size: var(--font-size-s);
}

.inter-bold-log-cabin-18px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-black-hint-of-red-60px {
  color: var(--hint-of-red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 900;
}

.inter-black-hint-of-red-32px {
  color: var(--hint-of-red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.inter-black-hint-of-red-50px {
  color: var(--hint-of-red);
  font-family: var(--font-family-inter);
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
}

.inter-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-hint-of-red-10px {
  color: var(--hint-of-red);
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}

.border-0-5px-granite-gray {
  border: 0.5px solid var(--granite-gray);
}
