:root { 
  --anakiwa: #8cfbf5e0;
  --black-white: #fffef8;
  --bunker: #101316;
  --hint-of-red: #fbfaf8;
  --log-cabin: #212121;
  --white: #ffffff;
  --woodsmoke: #11101053;
  --woodsmoke-2: #1110104b;
 
  --font-size-s3: 11px;
  --font-size-xs: 12px;
  --font-size-xxl2: 18px;
  --font-size-xxxl2: 32.5px;
  --font-size-xxxxl: 60px;
 
  --font-family-helvetica: "Helvetica", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-sfprotext-medium: "SFProText-Medium", Helvetica;
  --font-family-sfprotext-semibold: "SFProText-Semibold", Helvetica;
}
.sfprotext-semi-bold-black-white-32-5px {
  color: var(--black-white);
  font-family: var(--font-family-sfprotext-semibold);
  font-size: var(--font-size-xxxl2);
  font-style: normal;
  font-weight: 600;
}

.sfprotext-medium-black-white-12px {
  color: var(--black-white);
  font-family: var(--font-family-sfprotext-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.helvetica-normal-white-11px {
  color: var(--white);
  font-family: var(--font-family-helvetica);
  font-size: var(--font-size-s3);
}

.inter-black-hint-of-red-60px {
  color: var(--hint-of-red);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 900;
}

.inter-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-log-cabin-18px {
  color: var(--log-cabin);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 700;
}
