.tabletsmall {
  background-color: var(--bunker-2);
  height: 1024px;
  position: relative;
  width: 768px;
}

.footer-5 {
  left: 143px;
  letter-spacing: 0;
  line-height: 13px;
  opacity: 0.8;
  position: absolute;
  top: 998px;
  white-space: nowrap;
}

.nav-bar-tablet-1 {
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 756px;
}

.logo-and-search-1 {
  align-items: center;
  display: flex;
  height: 48px;
  left: 19px;
  position: relative;
  top: 8px;
}

