.button-primary-40px {
  align-items: flex-end;
  background-color: var(--anakiwa);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 32px;
  min-width: 220px;
  padding: 8px 21px;
}

.label {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 177px;
  text-align: center;
  white-space: nowrap;
}

