.text-and-buttons-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 910px;
}

.remix-culture-title-2 {
  font-weight: 900;
  letter-spacing: 0.91px;
  line-height: 53px;
  opacity: 0.97;
  text-align: center;
  width: 911px;
}

.explore-loops-and-sa-3 {
  font-weight: 600;
  letter-spacing: 0.55px;
  line-height: 21px;
  margin-top: 16px;
  opacity: 0.67;
  text-align: center;
  white-space: nowrap;
}

