.card-component-custom-4 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  min-width: 240px;
}

.overlap-group {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  display: flex;
  height: 240px;
  min-width: 240px;
  position: relative;
}

.card-component-custom-4.card-component-custom,
.card-component-custom-4.card-component-custom-2 {
  cursor: unset;
}

.card-component-custom-4.card-component-custom-1,
.card-component-custom-4.card-component-custom-3 {
  cursor: unset;
  min-width: unset;
}

.card-component-custom-4.card-component-custom-5 {
  min-width: unset;
}

