.card-component-custom-copy {
  align-items: flex-start;
  background-image: url(/static/img/home-1024-image-placeholder-5BFB9654-0064-4C09-BE36-F1192AD2CCE4.jpg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 240px;
}

.overlap-group-4 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  display: flex;
  min-width: 240px;
}

.titles-n-overlay-5 {
  background-color: var(--woodsmoke-2);
  height: 240px;
  width: 240px;
}

.stacked-group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 15px;
  position: relative;
  top: 89px;
  width: 210px;
}

.artist-title-2 {
  font-weight: 600;
  letter-spacing: 0.30px;
  line-height: 39px;
  width: 210px;
}

.artist-description-2 {
  font-weight: 500;
  letter-spacing: 0.11px;
  line-height: 14px;
  margin-top: 8px;
  opacity: 0.83;
  white-space: nowrap;
}

.card-component-custom-copy.card-component-custom-copy-1,
.card-component-custom-copy.card-component-custom-copy-3 {
  min-width: unset;
}

