.logotype_-main {
  align-items: flex-end;
  display: flex;
  height: 20px;
  min-width: 72px;
}

.path {
  height: 12px;
  margin-bottom: 2px;
  width: 17px;
}

.shape-2 {
  align-self: center;
  height: 17px;
  margin-bottom: 1.0px;
  margin-left: 3px;
  width: 4px;
}

.overlap-group-8 {
  height: 18px;
  margin-bottom: -1.34px;
  margin-left: 1px;
  position: relative;
  width: 18px;
}

.rectangle {
  height: 4px;
  left: -1px;
  position: absolute;
  top: 7px;
  transform: rotate(-44.98deg);
  width: 21px;
}

.rectangle-1 {
  height: 21px;
  left: 7px;
  position: absolute;
  top: -1px;
  transform: rotate(-45deg);
  width: 4px;
}

.path-1 {
  height: 12px;
  margin-bottom: 2px;
  margin-left: 1px;
  width: 17px;
}

.shape-3 {
  align-self: flex-start;
  height: 17px;
  margin-left: 3px;
  width: 4px;
}

.shape-4 {
  height: 1px;
  margin-bottom: 3px;
  margin-left: 1px;
  width: 3px;
}

.logotype_-main.logotype_-main-copy3x-copy,
.logotype_-main.logotype_-main-copy3x-copy-1 {
  align-items: flex-start;
  min-width: 71px;
}

.logotype_-main.logotype_-main-copy3x-copy .path,
.logotype_-main.logotype_-main-copy3x-copy-1 .path {
  align-self: center;
  margin-bottom: unset;
  margin-top: 2.0px;
}

.logotype_-main.logotype_-main-copy3x-copy .shape-2,
.logotype_-main.logotype_-main-copy3x-copy-1 .shape-2 {
  align-self: unset;
  margin-bottom: unset;
}

.logotype_-main.logotype_-main-copy3x-copy .overlap-group-8,
.logotype_-main.logotype_-main-copy3x-copy-1 .overlap-group-8 {
  align-self: flex-end;
  height: 17px;
  margin-bottom: 0.51px;
  width: 17px;
}

.logotype_-main.logotype_-main-copy3x-copy .rectangle,
.logotype_-main.logotype_-main-1 .rectangle,
.logotype_-main.logotype_-main-copy3x-copy-1 .rectangle,
.logotype_-main.logotype_-main-3 .rectangle {
  left: -2px;
  top: 6px;
  width: 20px;
}

.logotype_-main.logotype_-main-copy3x-copy .rectangle-1,
.logotype_-main.logotype_-main-1 .rectangle-1,
.logotype_-main.logotype_-main-copy3x-copy-1 .rectangle-1,
.logotype_-main.logotype_-main-3 .rectangle-1 {
  height: 20px;
  left: 6px;
  top: -2px;
}

.logotype_-main.logotype_-main-copy3x-copy .path-1,
.logotype_-main.logotype_-main-copy3x-copy-1 .path-1 {
  align-self: center;
  margin-bottom: unset;
  margin-left: 2px;
  margin-top: 2.0px;
}

.logotype_-main.logotype_-main-copy3x-copy .shape-4,
.logotype_-main.logotype_-main-copy3x-copy-1 .shape-4 {
  align-self: flex-end;
}

.logotype_-main.logotype_-main-1,
.logotype_-main.logotype_-main-3 {
  min-width: 71px;
}

.logotype_-main.logotype_-main-1 .overlap-group-8,
.logotype_-main.logotype_-main-3 .overlap-group-8 {
  height: 17px;
  margin-bottom: -0.49px;
  width: 17px;
}

.logotype_-main.logotype_-main-1 .path-1,
.logotype_-main.logotype_-main-3 .path-1 {
  margin-left: 2px;
}

.logotype_-main.logotype_-main-1 .shape-4,
.logotype_-main.logotype_-main-3 .shape-4 {
  margin-left: unset;
}

.logotype_-main.logotype_-main-copy3x-copy .shape-3,
.logotype_-main.logotype_-main-copy3x-copy-1 .shape-3 {
  align-self: unset;
  height: 17px;
  margin-bottom: unset;
  margin-left: 3px;
  width: 4px;
}

