name: ec2_depl

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build React App
      run: CI=false && npm install && npm run build
    - name: Deploy to Server 1
      uses: easingthemes/ssh-deploy@main
      env:
         SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
         REMOTE_HOST: ${{ secrets.EC2_HOST }}
         REMOTE_USER: ${{ secrets.EC2_USERNAME }}
         SOURCE: "./dist/"
         TARGET: ${{ secrets.EC2_TARGET }}
         ARGS: "-rltgoDzvO --delete"
